*:not(body, html) {
	border: 1px solid red;
}

/* ----------------------------------------------- */
/* ------------------ Utilities ------------------ */
/* ----------------------------------------------- */
.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.jcent {
	justify-content: center;
}

.acent {
	align-items: center;
}

.wrap {
	flex-wrap: wrap;
}


/* --------------------------------------------- */
/* ------------------ Regular ------------------ */
/* --------------------------------------------- */
body {
	justify-content: space-between;
	height: 100vh;
	margin: unset;
	padding: 0 8px;
}
/* ------------------ Header ------------------ */

/* ------------------ Main ------------------ */
#calc-container {
	background-color: gray;
	height: 400px;
	width: 300px;

}

	#screen {
		justify-content: flex-end;
		background-color: lightcyan;
		margin: 10px;
		padding: 15px 10px;
		font-family: 'Courier New', Courier, monospace;
		font-weight: 700;
		font-size: 25px;
	}

		#screen p {
		margin: unset;
		}
	
	#button-container {
		padding: 10px;
	}

/* ------------------ Footer ------------------ */
footer {
	align-items: center;
	gap: 10px;
	margin-bottom: 8px;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

	#my-name {
			font-weight: bold;
		}

	.fa-github {
		color: black;
	}

	.fa-github:hover {
		color: black;
		transition: transform 0.4s ease-in-out;
		transform: rotate(-360deg) scale(1.3);
	}