/* *:not(body, html) {
	border: 1px solid red;
} */

:root {
	--off-black: #0e1618;
}

:root.light {
	--background-gradient: linear-gradient(#9faeb4, #ceeaf3);
	--header-text-color: black;

	--calc-background: var(--off-black);
	--calc-border: 4px outset gray;
	--calc-shadow: 4px 4px 13px 2px #393939;

	--screen-background: #b5ea47;;
	--screen-text-color: black;

	--button-container-background: #22282a;
	--button-background:  #b5ec3f;
	--button-background-hover: #cfef8d;
	--button-text-color: var(--off-black);

	--rowAC-background: #a9e9ff;
	--rowAC-text-color: var(--off-black);
	--rowAC-background-hover: #ceeaf3;

	--opr-column-background: #fbfdfd;
	--opr-column-background-hover: #d8d9d9;
	--opr-column-text-color: var(--off-black);
}

:root.dark {
	--background-gradient: linear-gradient(#7b8182, #131515);
	--header-text-color: #eef0f3;

	--calc-background: rgb(211, 211, 211);
	--calc-border: 4px outset #eeeeee;
	--calc-shadow: 4px 4px 13px 2px var(--off-black);

	--screen-background: var(--off-black);
	--screen-text-color: #a1eb08;

	--button-container-background: #eef0f3;
	--button-background:  #22282a;
	--button-background-hover: dimgray;
	--button-text-color: #b5ec3f;

	--rowAC-background: var(--off-black);
	--rowAC-text-color: #a9e9ff;

	--opr-column-background: var(--off-black);
	--opr-column-text-color: #fbfdfd;
}

/* ----------------------------------------------- */
/* ------------------ Utilities ------------------ */
/* ----------------------------------------------- */

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

/* --------------------------------------------- */
/* ------------------ Regular ------------------ */
/* --------------------------------------------- */
body {
	justify-content: space-between;
	height: 100vh;
	margin: unset;
	padding: 0 8px;
	background-image: var(--background-gradient);
	color: var(--header-text-color);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ------------------ Header ------------------ */
header {
	justify-content: space-between;
}

	h1 {
		all: unset;
		font-size: 2rem;
		font-weight: 700;
		margin: 20px 0 0 20px;
	}

	#dark-mode {
		align-items: center;
		justify-content: space-between;
		width: 100px;
		font-size: 1.3rem;
		margin: 10px;
		text-transform: capitalize;
	}

	#dark-mode>:first-child {
		width: 50px;
		text-align: center;
	}

	.switch {
		flex-shrink: 0;
		position: relative;
		display: inline-block;
		height: 60px;
		width: 34px;
	}
	
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}
	
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}
	
	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 75%;
		left: 4px;
		bottom: 30px;
		background-color: #8ec910;
		-webkit-transition: .4s;
		transition: .4s;
	}
	
	input:checked + .slider {
		background-color: #37474F;
	}
	
	input:focus + .slider {
		box-shadow: 0 0 1px #37474F;
	}
	
	input:checked + .slider:before {
		-webkit-transform: translateY(26px);
		-ms-transform: translateY(26px);
		transform: translateY(26px);
	}
	
	.slider.round {
		border-radius: 34px;
	}
	
	.slider.round:before {
		border-radius: 50%;
	}

/* ------------------ Main ------------------ */
main {
	justify-content: center;
}
#calculator {
    justify-content: space-between;
    background-color: var(--calc-background);
    /* height: 465px; */
    width: 300px;
    border: var(--calc-border);
    border-radius: 10px;
    box-shadow: var(--calc-shadow);
}

#screen {
    justify-content: space-between;
	gap: 10px;
    background-color: var(--screen-background);
	color: var(--screen-text-color);
    margin: 10px;
    padding: 15px;
	border-radius: 10px;
	overflow-wrap: anywhere;
}

	#expression {
		min-height: 30px;
		padding-left: 10px;
		font-size: 25px;
	}
	#active-num {
		align-self: flex-end;
		min-height: 45px;
		font-size: 38px;
	}

#button-container {
	justify-content: space-between;
	height: 335px;
    width: 270px;
	padding: 10px 10px;
	background-color: var(--button-container-background);
    border-radius: 32px;
    margin: 5px;
}

	.button-row {
		align-items: center;
		justify-content: space-between;
	}

		.button {
			--button-w-h: 60px;

			justify-content: center;
			align-items: center;
			background-color: var(--button-background);
			color: var(--button-text-color);
			border-radius: calc(var(--button-w-h) / 3);
			width: var(--button-w-h);
			height: var(--button-w-h);
			font-size: 25px;
			font-weight: 700;
		}
			
			.button:hover {
				background-color: var(--button-background-hover);
				scale: 1.01;
				transition: 0.2s;
				transform: translateY(-1px);
			}
		
		#rowAC .button {
		    background-color: var(--rowAC-background);
    		color: var(--rowAC-text-color);
		}

			#rowAC .button:hover {
				background-color: var(--rowAC-background-hover, var(--button-background-hover));
			}
		
		#button-container .button-row :last-child {
			background-color: var(--opr-column-background);
			color: var(--opr-column-text-color);
			font-size: 30px;
		}

			#button-container .button-row :last-child:hover {
				background-color: var(--opr-column-background-hover, var(--button-background-hover));
			}
			

/* ------------------ Footer ------------------ */
footer {
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 8px;
	text-align: center;
}

	#my-name {
			font-weight: bold;
		}

	.fa-github {
		color: var(--header-text-color);
	}

	.fa-github:hover {
		transition: transform 0.4s ease-in-out;
		transform: rotate(-360deg) scale(1.3);
	}